.header {
  padding-left: 0;
  padding-right: 0;
  color: white;
}

.header-bg {
  background-image: url('../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
  display: inline-block;
  text-align: center;
}

.header-text {
  text-align: center;
  font-family: Georgia, serif;
  font-weight: 900;
}

.header-intro {
  display: inline-block;
  width: 32%;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
}

.header-nav {
  margin: 45px 0 0 0;
}

body {
  background-color: #eff1f5;
}

.body-content {
  margin-top: 25px;
}

.shadow-box {
  height: 20vw;
  width: 24vw;
  z-index: -7;
  background-color: #e7edee;
  /* transform: translate(1px, 2px); */
}

.content-box {
  background-color: #ffffff;
  /* width: 24vw;*/
  height: 20vw;
  width: 30%;
  margin: 0 1.5%;
  text-align: center;
  border-radius: 2px;
  position: relative;
}

.content-box:hover {
  border-top: 2px #d83a6a solid;
  box-shadow: 0px 0px 20px #aaaeb6;
  transform: translateY(-12px);
}

.content-box:hover .content-box-title {
  color: #caa97d;
}

.content-box:hover .content-box-text {
  transform: translateY(-50px);
}

.content-box-title {
  font-size: 30px;
  color: #aaaeb6;
}

.content-box-subtext {
  color: #696579;
  font-size: 14px;
  font-weight: bold;
  /* position: relative;
  top: 33%; */
}

.content-box-text {
  position: relative;
  top: 28%;
}

.content-box-center {
  /* margin-left: 25px;
  margin-right: 25px; */
}

.content-box-button {
  display: none;
  background-color: #696579;
  width: 80%;
  height: 57px;
  /* bottom: -25px; */
  color: white;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.button-text {
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content-box:hover .content-box-button {
  display: block;
}


.first-row, .second-row {
  /* margin-top: 25px; */
  margin: 0 auto;
}

.first-row {
  margin-bottom: 45px;
}

.item-sort {
  /* margin-top: -27px; */
  margin: -27px auto 0 auto;
  /* width: 45%; */
  width: 525px;
  z-index: 1;
  text-align: center;
  position: relative;
}

.item {
  /* border: 1px black solid; */
  height: 55px;
  display: inline-block;
  background-color: #696579;
  color: white;
  font-size: 14px;
  /* position: relative; */
  /* top: 50%; */
}

.item-text {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.item:hover {
  background-color: #fdecca;
  /* transform: scale(0, 1.1);*/
  transform: scale(1,1.1);
}

.logo {
  display: block;
  text-align: left;
  margin-left: 30px;
}

.home-link {
  color: #fdecca;
}

.welcome-text {
  margin-top: 50px;
}
