@import url('https://fonts.googleapis.com/css?family=Poppins:400');

.header {
  color: white;
  padding-left: 0;
  padding-right: 0;
}

.header-bg {
  background-image: url('../images/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 450px;
  left: 0;
  text-align: center;
  top: 0;
  width: 100vw;
  z-index: -1;
}

.header-text {
  font-family: Georgia, serif;
  font-weight: 900;
  text-align: center;
}

.header-intro {
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-weight: lighter;
  width: 32%;
}

.header-nav {
  margin: 45px 0 0 0;
}

body {
  background-color: #eff1f5;
}

.body-content {
  margin-top: 25px;
}

.content-box {
  background-color: #ffffff;
  border-bottom: 1px #e3e9ec solid;
  border-radius: 2px;
  box-shadow: 0px 0px 10px rgba(35,35,35,0.14);
  height: 279px;
  margin: 0 1.6666% 45px;
  position: relative;
  text-align: center;
  width: 30%;
}

.hidden {
  display: none;
}

.content-box:hover {
  border-top: 2px #d83a6a solid;
  box-shadow: 0px 0px 25px #aaaeb6;
  transform: translateY(-12px);
}

.content-box:hover .content-box-title {
  color: #caa97d;
}

.content-box:hover .content-box-text {
  transform: translateY(-50px);
}

.content-box-title {
  color: #aaaeb6;
  font-size: 30px;
}

.content-box-subtext {
  color: #696579;
  font-size: 14px;
  font-weight: bold;
}

.content-box-text {
  position: relative;
  top: 28%;
}

.content-box-button {
  background-color: #696579;
  bottom: 20px;
  color: white;
  display: none;
  height: 57px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 80%;
}

.button-text {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin: 0;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 100%;
}

.content-box:hover .content-box-button {
  display: block;
}


.boxes {
  margin: 50px auto 0;
}

.first-row {
  margin-bottom: 45px;
}

.item-sort {
  margin: -27px auto 0 auto;
  position: relative;
  text-align: center;
  /* width: 525px; */
  max-width: 36%;
  z-index: 1;
}

.item {
  background-color: #696579;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 55px;
  white-space: nowrap;
  overflow: hidden;
}

.item-text {
  left:50%;
  position: absolute;
  top:50%;
  transform: translate(-50%,-50%);
}

.item-active {
  background-color: #fdecca;
  transform: scale(1,1.1);
  color: #696579;
}

.logo {
  display: block;
  margin-left: 30px;
  /* text-align: left; */
}

.header-link:hover, .header-link:focus {
  color: #fdecca;
  text-decoration: none;
}

.header-link:active {
  color: #fdecca;
}

a {
  color: white;
}

.welcome-text {
  margin-top: 50px;
}

@media screen and (max-width: 1199px) {
  .item-sort {
    max-width: 45%;
  }
}

@media screen and (max-width: 991px) {
  .item-sort {
    max-width: 50%;
  }
  .content-box {
    width: 40%;
    margin: 25px 5% 0;
  }
  .boxes {
    margin-top: 0px;
  }
}

@media screen and (max-width: 767px) {
  .content-box {
    width: 50%;
    margin: 25px auto 0;
  }
  .body-content {
    margin-top: 0;
  }
  .item-sort {
    max-width: 75%;
  }
  /* .logo {
    margin: 0 auto;
  } */
  /* .link {
    margin-top: 15px;
  } */
  .header-intro {
    width: 75%;
  }
}

@media screen and (max-width: 537px) {
  .item-sort {
    max-width: 100%;
  }
}
